* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #E5E5E5;
    color: #21243D;
    font: 16px;
    font-family: 'Heebo', sans-serif;
}
a {
    text-decoration: none;
}
.wrapper {
    font-size: 16px;
    font-weight: 400;
    background: #ffffff;
    color: #21243D;
    margin: 0 auto;
    box-shadow: 5px 9px 20px 0px rgba(0, 0, 0, 0.15);
}
.col {
    padding: 0 148px;
}
.header-item {
    list-style: none;
    margin-bottom: 140px;
}
.header-link {
    color: #000000;
    margin-left: 33px;
    Font size: 20px;
    font-weight: 500;
}
.main-title {
    Font size: 44px;
    Line height: 60px;
}
.main-text {
    margin: 40px 0;
}
.button {
    background-color: #FF6464;
    color: #FFFFFF;
    padding: 15px 20px;
    border-radius: 2px;
    border: none;
}
.my-foto {
    width: 100%;
}
.fotoFrame {
    border-radius: 50%;
}
.posts-link {
    font-size: 16px;
    line-height: 23px;
    color: #00A8CC;
}
.posts {
    background: #EDF7FA;
}
.posts-description {
    background-color: #fff;
    padding: 20px;
}
.posts-description-title {
    padding-bottom: 20px;
}
.posts-description-text {
    padding-top: 20px;
}
.footer-item {
    list-style: none;
    display: flex;
}
.footer-developer {
    font-size: 14px;
}
.blog {
    margin-bottom: 55px;
    font-size: 44px;
    font-weight: 900;
}
.work-title {
    padding-bottom: 15px;
    font-size: 30px;
}
.work-text {
    padding-top: 15px;
    padding-bottom: 50px;
    font-size: 16px;
    line-height: 23px;
}
.blog-stick {
    font-size: 20px;
}
.stick-description {
    color: #8695A4;
    font-size: 20px;
    vertical-align: middle;
}
.post-icon {
    padding-left: 20px;
    padding-right: 20px;
}
.top-stick {
    border-bottom: 1px solid #E0E0E0;
}
.featured {
    display: inline-block;
    font-size: 22px;
    margin-top: 10px;
}
.number-bg {
    color: #FFFFFF;
    font-weight: 900;
    font-size: 18px;
    line-height: 60px;
    background: #142850;
    border-radius: 16px;
    padding: 3px 10px;
    margin-right: 25px;
}
img {
    width: 100%;
}
.detail-title {
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 34px;
    line-height: 50px;
}
.deiail-text {
    padding-top: 15px;
    font-size: 16px;
    line-height: 23px;
}
.head-title {
    margin-top: 55px;
    margin-bottom: 20px;
}
